body {
  background-color: #ecf0f1;
}

header {
  background-color: #3498db;
  width: 100%;
}

#head-info {
  margin: 0 auto;
  width: 80%;
}

.navbar-header {
  padding: 5px;
  color: #fff;
}

.navbar-header h1 {
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-right: 150px;
}

.navbar-button {
  padding: 20px;
  float:left;
}

.button {
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  background-color: #1abc9c;
  color: #fff;
  font-weight: bold;
}
