header {
  background-color: #2ecc71;
  width: 100%;
}

#head-info {
  margin: 0 auto;
  width: 80%;
}

.title {
  padding: 5px;
  color: #fff;
}

.title h1 {
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
