.credit-card {
  margin: 100px auto;
  max-width: 60%;
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  color: #4c4e56;
}

.credit-card h1 {
  font-weight: bold;
  text-align: center;
  color: #4c4e56;
}

.credit-card label {
  width: 100%;
  margin-bottom: 10px;
}

.credit-card .payment {
  float:left;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 20px;
  position: relative;
}

.credit-card .payment .form-group {
  float: left;
  margin-bottom: 15px;
}

.credit-card .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}

.credit-card .owner {
  width: 66%;
  margin-right: 10px;
}

.credit-card .cvv {
  width: 38%;
}

.credit-card #card-number-field {
  width: 100%;
}

.credit-card #expiration-date {
  width: 49%;
}

.credit-card #expiration-date {
    width: 49%;
}
.credit-card #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.credit-card #pay-now {
    width: 100%;
    margin-top: 25px;
}
.credit-card .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}

.credit-card .payment select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
    transition: 0.8s;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}
